/*fuentes utilizadas*/
@font-face {
	font-family: 'QuicksandLight';
	src: url('../fonts/Quicksand_Light-webfont.eot');
	src: url('../fonts/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Quicksand_Light-webfont.woff') format('woff'),
	url('../fonts/Quicksand_Light-webfont.ttf') format('truetype'),
	url('../fonts/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
	font-weight: normal;
	font-style: normal;

}

@font-face {
	font-family: 'QuicksandBold';
	src: url('../fonts/Quicksand_Bold-webfont.eot');
	src: url('../fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Quicksand_Bold-webfont.woff') format('woff'),
	url('../fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
	url('../fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
	font-weight: normal;
	font-style: normal;

}


/*estilos generas*/
*{
	margin:0;
	padding:0;
}

html {
	background-color:#eb6077;
	background:-moz-radial-gradient(center, #f0b49e, #eb6077) no-repeat #eb6077;
	background:-webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(#f0b49e), to(#eb6077)) no-repeat #eb6077;
	background-image: -ms-linear-gradient(top, #f0b49e, #eb6077) no-repeat;
	background-image: -o-linear-gradient(top, #f0b49e, #eb6077) no-repeat;
	behavior: url(PIE.php);
}


body{
	font-family:QuicksandLight, sans-serif;
	height: 100%;

}


/*patrocinadores*/
#patrocinadores{
	position: fixed;
	right: 0px;
	bottom: 20px;
	behavior: url(PIE.php);
}
#patrocinadores h4{
	color: #fff;
	font-size: 20px;
	text-shadow: #000 0.1em 0.1em 0.2em;
	behavior: url(PIE.php);
}

.extend{
	background: url('../img/extend_logo_small.png') no-repeat;
	display: block;
	width: 190px;
	height:70px;

	behavior: url(PIE.php);

}
.campus{
	background:url('../img/cp_small.png') no-repeat;
	display:block;
	width:150px;
	height:70px;

	behavior: url(PIE.php);
}
/*index*/

.title{
	margin: 40px 0px 20px 0px;
	padding: 5px;
	background-image: url('../img/trans1.png');
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	behavior: url(PIE.htc);
	background: url('../img/back-trans.png');
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;
	behavior: url(PIE.php);

}

.main{
	padding-right: 2400px;
	text-align: right;

}
h1.title{
	font-family:QuicksandLight;
	padding-left: 40px;
	font-size: 100px;
	color: #fff;
	text-shadow: #000 0em 0em 0.2em;

}
.title_alt{
	margin: 40px 0px 20px 0px;
	padding: 5px;
	background: url('../img/back-trans.png');
	-moz-box-shadow: 0 0 5px #000;
	-webkit-box-shadow: 0 0 5px #000;
	box-shadow: 0 0 5px #000;

	behavior: url(PIE.php);

}
h1.title_alt{
	padding-left: 40px;
	font-size: 70px;
	color: #fff;
	text-shadow: #000 0em 0em 0.2em;
}

#scroll{
	width:9000px;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	height: 100%;
}
.section{
	margin:0px;
	bottom:0px;
	width:3000px;
	float:left;
	height:100%;
}

#tagline{
	margin:10px 20px 0px 50px;
	width:500px;
	height:300px;
	color:#493443;
	line-height: 50px;
	text-align: right;
	display:block;
	float: left;
	font-size: 25px;

}
.especial{
	color:#493443;
	display: block;
	padding: 20px 1990px 0px 20px;
	line-height: 30px;
}
.casa{
	position: fixed;
	top: 195px;
	left: 625px;
	font-family:"QuicksandBold";
	font-size: 20px;
	color: #493443;
	text-shadow:#fff 0.1em 0.1em 0.2em;
}
.invisible{
	text-indent: 20000px;
}
.button_section1{
	position: absolute;
	display: block;
	right: 0px;
	width: 75px;
	height: 75px;
	background: url('../img/button_next.png') 0px 0px no-repeat;
}
.button_section1:hover{
	background: url('../img/button_next.png') 0px -75px no-repeat;
}

.pink{
	background: url(../img/rosamorado.jpg) repeat-y top right ;
}
.purple{
	background:#a1c5ab url(../img/azulmorado.jpg) repeat-y top right;
}

.blue{
	background:#f0e2be ;
}

#nav{
	position: fixed;
	right: 10px;
	top: 40px;

}

.section ul{
	list-style:none;
	margin:20px 0px 0px 550px;
}

#nav li{
	font-size: 15px;
	color: #000;
	padding:5px;
	margin:5px;
	text-align: right;
}

#nav li a{
	color:#fff;
	text-decoration: none;


}

#nav li a:hover{
	color:#493443;
	text-decoration: none;
	padding: 10px;
	background:#f6edb6;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 0px;
	border-radius: 10px 10px 10px 0px;

	behavior: url(PIE.php);

}
.alt{
	position: fixed;
	top: 3px;
	right: 80px;
	background:#4f2468;
	behavior: url(PIE.php);
	}

.teal{
	background:#00cdde;
	position: absolute;
	top: 3px;
	right: 15px;
	behavior: url(PIE.php);
	}



.button_generic a{
	text-decoration: none;
	color: #fff;
}
.button_generic {

	padding: 10px;
	font-family: QuicksandBold;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 0px;
	border-radius: 10px 10px 10px 0px;
	-moz-box-shadow: 0 0 8px #493443;
	-webkit-box-shadow: 0 0 8px #493443;
	box-shadow: 0 0 8px #000;

	behavior: url(PIE.php);

}
.button_generic:hover{
	text-shadow: #000 0.1em 0.1em 0.2em;
	-moz-box-shadow: inset 0 0 5px #000;
	-webkit-box-shadow: inset 0 0 5px#000;
	box-shadow: inner 0 0 5px #000;

	behavior: url(PIE.php);

}

#valores{
	width: 800px;
	height: 210px;
	margin:0% 5%;
	column-width: 300px;
	column-gap:1em;
	-moz-column-width: 300px;
	-webkit-column-width: 300px;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;

	behavior: url(PIE.php);

}

#valores h2 {
	break-before: column;

	behavior: url(PIE.php);

}

#programas{
	font-size: 13px;
	width: 800px;
	margin: 0% 5%;
	column-width: 300px;
	column-gap:1em;
	-moz-column-width: 300px;
	-webkit-column-width: 300px;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;

	behavior: url(PIE.php);

}

.subtitle{
	color: #fff;
}
.parag{
	color:#493443;
	line-height: 25px;

}
.espacio_vacio{
	height:100px;

}
#footer {
	font-size: 10px;
	color: #aaa;
	clear: both;
	padding: 6px 10px;
	text-align: left;
	bottom: 10px;
	position: fixed;
	width: 100%;
	height: 10px;
	padding-left: 5%;
	background: url('../img/trans1.png');
	behavior: url(PIE.htc);
	background: url('../img/back-trans.png');
	behavior: url(PIE.php);

}

#footer a{

	text-decoration: none;
	color: #fff;
}

#section3 h2{
	color:#632f53;
}

/*Formularios*/

#ingresar{
	text-align:center;
}

#ingresar h1{
	text-align:left;
	}
	
#ingresar form{
	background:rgb(255,255,255);
	background:rgba(255,255,255,0.7);
	background:rgba(254,254,254,0.7);
	background:#fff;
	width: 300px;
	margin: 0 auto;
	padding:20px 50px;
	border-radius: 10px 10px 10px 0px;
	-moz-box-shadow: 0 0 8px #000;
	-webkit-box-shadow: 0 0 8px #000;
	box-shadow: 0 0 8px #000;

	behavior: url(PIE.php);
	text-align:left;

}

#ingresar label{
	text-align:left;
	color: #333;
	font-size: 20px;
}

#ingresar .input_style{
	background:#eb6077;
	-moz-box-shadow: inset 0 0 5px #000;
	-webkit-box-shadow: inset 0 0 5px #000;
	box-shadow: inner 0 0 5px #000;
	font-size: 15px;
	border: none;
	width: 300px;
	margin: 10px 0px;
	padding: 8px 0px;
	display: block;
	border-radius: 10px 10px 10px 0px;
	color:#eee;

	behavior: url(PIE.php);

}
#ingresar .input_style:focus {
	border: solid 1px #333;
}

.button_form{
	border: none;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	background:#4f2468;
	font-family: QuicksandBold;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 0px;
	border-radius: 10px 10px 10px 0px;
	-moz-box-shadow: 0 0 8px #000;
	-webkit-box-shadow: 0 0 8px #000;
	box-shadow: 0 0 8px #000;

	behavior: url(PIE.php);

}

.button_form:hover{

	text-shadow: #000 0.1em 0.1em 0.2em;
	-moz-box-shadow: inset 0 0 5px #000;
	-webkit-box-shadow: inset 0 0 5px #000;
	box-shadow: inner 0 0 5px #000;

	behavior: url(PIE.php);


}

/*
Añadidos en desarrollo
*/

/* Login rápido */
#formulario_rapido {
	width: 169px;
	background: none repeat scroll 0 0 #333;
	color: #FFFFFF;
	position: fixed;
	right: 15px;
	top: 1px;
	border-radius: 10px 10px 10px 0;

	behavior: url(PIE.php);

}
#boton_formulario_rapido {
	text-indent: 20px;
	background: url("../img/img_down-trans.png") no-repeat scroll 14px 10px #493443;
	border-radius: 10px 10px 10px 0;
	box-shadow: 0 0 8px #000000;
	font-family: QuicksandBold;
	color: #FFFFFF;
	cursor: pointer;
	height: 28px;
	padding: 10px 0 0 16px;
	behavior: url(PIE.php);

	}
#boton_formulario_rapido:hover{
	text-shadow: #000 0.1em 0.1em 0.2em;
	-moz-box-shadow: inset 0 0 5px #493443;
	-webkit-box-shadow: inset 0 0 5px #493443;
	box-shadow: inner 0 0 5px #000;

	behavior: url(PIE.php);

}

.form_redondo{
	color:#eee;
	font-size: 15px;
	border: 0.5px solid #fff;
	background: #222;
	width: 135px;
	margin: 10px 0px;
	padding: 8px 5px;
	display: block;
	border-radius: 10px 10px 10px 0px;
	-moz-box-shadow: inset 0 0 5px #000;
	-webkit-box-shadow: inset 0 0 5px #000;
	box-shadow: inner 0 0 5px #000;

	behavior: url(PIE.php);

}

.form_redondo:focus{
	border: solid 1px #444;
}



#form_login{
	padding:5px;
	font-size:14px;
}
#form_login div{
	padding: 0 0 12px 7px;
}
/* Posiciones */
.posiciones_fl{
	float:left;
}
.posiciones_fr{
	float:right;
}
.posiciones_r{
	position:relative;
}
.posiciones_cl{
	clear:both;
}
.bottom{
	height:100px;
}
.boton_buscar{
	margin:8px 0 0 10px;
}

div.input label{
	color:#fff;
	font-size: 15px;

}

.foto_chicas{
	background:url('../img/foto1.jpg');
}
